@import url("https://fonts.googleapis.com/css2?family=Karla&family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

body,
input,
textarea,
button {
  font-family: "Karla", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

input {
  cursor: pointer;
  outline: none;
}

.row {
  margin: 0 auto;
  max-width: 600px;
  padding: 36px;
  text-align: center;
}

.row2 {
  margin: 0 auto;
  max-width: 300px;
}

#all,
#active,
#completed {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  background: white;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 6px;
  width: 80px;
}

.active {
  border-bottom: 2px solid #3399ff !important;
}

.options {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  margin-top: 24px;
}

.input-text {
  border: 1px solid lightgrey;
  border-radius: 6px;
  font-size: 16px;
  padding: 6px;
  width: 85%;
}

#add {
  background: #3399ff;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 4px;
  padding: 8px;
}

#add:hover {
  background: #53a4f6;
}

ul {
  padding: 0;
  text-align: left;
}

li {
  display: flex;
  margin-bottom: 18px;
  word-break: break-all;
}

span {
  flex-grow: 1;
}

.delete-one {
  border: none;
  background: white;
  font-size: 16px;
  float: right;
  transform: rotate(90deg);
}

.delete-all {
  background: #ef7d7d;
  border: none;
  border-radius: 2px;
  color: white;
  float: right;
  padding: 8px;
}

.delete-all:hover {
  background: #ec8e8e;
}

i {
  color: white;
  margin-right: 6px;
}

.hide {
  border-bottom: 0;
}
